/*--Header--*/
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	width: 1240px;
	height: 60px;
	margin: 30px auto;
	justify-content: space-between;
}
.logo {
	flex: none;
	order: 0;
	flex-grow: 0;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 665px;
	height: 24px;
}

.nav .nav-item {
	display: flex;
	padding: 0px;
	gap: 6px;
}
.header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 214px;
	height: 60px;
	background: #1663f9;
	border-radius: 30px;
	font-family: "Poppins";
	color: #ffffff;
}
/* Main title */
.main-title {
	margin: 40px auto;
	width: 719px;
	height: auto;
	text-align: center;
	color: #1f2326;
}
.main-container {
	width: 1238px;
	height: 490px;
}

/* Background */
.bg-container {
	position: relative;
	width: 1440px;
	margin: auto;
}
.bg-color-1 {
	position: absolute;
	width: 1362.54px;
	height: 766.44px;
	left: -753px;
	top: 281px;
	background: #51b4fa;
	filter: blur(148.009px);
	border-radius: 532.247px;
	z-index: -3;
}
.bg-color-2 {
	position: absolute;
	width: 751.02px;
	height: 422.45px;
	right: 659.98px;
	top: 529px;
	background: #854aeb;
	filter: blur(148.009px);
	border-radius: 293.368px;
	z-index: -2;
}
.bg-color-3 {
	position: absolute;
	width: 625.19px;
	height: 351.66px;
	left: 592px;
	top: 564px;
	background: #f8d997;
	filter: blur(148.009px);
	border-radius: 244.214px;
	z-index: -1;
}
.bg-color-4 {
	position: absolute;
	width: 671px;
	height: 377.44px;
	right: -113px;
	top: 375px;
	background: #f8a6f0;
	filter: blur(148.009px);
	border-radius: 262.109px;
	z-index: -4;
}
.bg-arrow {
	position: absolute;
	top: 120px;
	left: 1109px;
}
.bg-lines {
	position: absolute;
	top: 210px;
	left: 213px;
}
/* Footer */

.footer-container {
	margin-top: 20px;
	width: auto;
	height: 388px;
}
.footer-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 20px auto;
	gap: 101px;
	width: 1067px;
	height: 229px;
}
.col-title {
	margin-bottom: 25px;
}
.footer-col ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-col li {
	color: #81879d;
	margin: 12px 0;
}
.col-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;
	width: 205px;
	height: 211px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: Inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0%;
}
.icon-text {
	font-family: Inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0%;
	color: #5f6871;
}
.socials {
	width: 200px;
	height: 38px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.socials-icon {
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	border: 2px solid #f0f0f0;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-line {
	margin-top: 70px;
	width: auto;
	height: 1px;
	background: #f0f0f0;
}
.footer-foot {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 536px;
}
.footer-foot-menu {
	display: flex;
	flex-direction: row;
	width: 246px;
	height: 18px;
	gap: 40px;
}
.footer-foot-menu div {
	font-family: Poppins;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0%;
	color: #81879d;
}
.rights {
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.94px;
	letter-spacing: -1%;
	text-align: center;
	color: #81879d;
}
