header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	width: 1240px;
	height: 60px;
	margin: 30px auto;
	justify-content: space-between;
}
.logo {
	flex: none;
	order: 0;
	flex-grow: 0;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 665px;
	height: 24px;
}

.nav .nav-item {
	display: flex;
	padding: 0px;
	gap: 6px;
}
.header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 214px;
	height: 60px;
	background: #1663f9;
	border-radius: 30px;
	font-family: "Poppins";
	color: #ffffff;
}
.main-text {
	margin: 44px auto;
	width: 780px;
	height: 228px;
	text-align: center;
	color: #1f2326;
}
.gradient-text {
	background: linear-gradient(90.21deg, #f961d8 20.98%, #1663f9 59.51%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.main-subtext {
	margin: 30px auto;
	width: 715px;
	height: 52px;
	text-align: center;
	color: #1f2326;
}
.btn-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 45px auto;
	padding: 0px;
	gap: 24px;
	width: 405px;
	height: 60px;
	left: 518px;
	top: 489px;
}
.btn-container .start-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 226px;
	height: 60px;
	gap: 10px;
	color: #ffffff;
	background: #1663f9;
	border-radius: 30px;
	order: 0;
}
.btn-container .pricing-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 155px;
	height: 60px;
	border: 1px solid #1f2326;
	border-radius: 60px;
	order: 1;
}
.bg-color-1 {
	position: absolute;
	width: 1362.54px;
	height: 766.44px;
	left: -753px;
	top: 281px;
	background: #51b4fa;
	filter: blur(148.009px);
	border-radius: 532.247px;
	z-index: -3;
}
.bg-color-2 {
	position: absolute;
	width: 751.02px;
	height: 422.45px;
	right: 659.98px;
	top: 529px;
	background: #854aeb;
	filter: blur(148.009px);
	border-radius: 293.368px;
	z-index: -2;
}
.bg-color-3 {
	position: absolute;
	width: 625.19px;
	height: 351.66px;
	left: 592px;
	top: 564px;
	background: #f8d997;
	filter: blur(148.009px);
	border-radius: 244.214px;
	z-index: -1;
}
.bg-color-4 {
	position: absolute;
	width: 671px;
	height: 377.44px;
	right: -113px;
	top: 375px;
	background: #f8a6f0;
	filter: blur(148.009px);
	border-radius: 262.109px;
	z-index: -4;
}
.summary {
	display: flex;
	justify-content: center;
	width: 1170px;
	height: 773px;
	margin: 100px auto;
	background: #ffffff;
	border-radius: 30px;
}

.services {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	margin: 70px auto;
	gap: 30px;
	width: 1074px;
	height: 225px;
}
.card {
	width: 246px;
	height: 225px;
	border: 1px #f2f3f8 solid;
	border-radius: 12px;
}
.card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 88px;
	height: 88px;
	margin-left: 30px;
	margin-top: 30px;
	border-radius: 60px;
}
.bg-linear-pink {
	background: linear-gradient(157.75deg, #d555c7 14.46%, #f396ea 79.18%);
}
.bg-linear-orange {
	background: linear-gradient(160.02deg, #f49235 11.67%, #ffb46d 82.2%);
}
.bg-linear-blue {
	background: linear-gradient(339.28deg, #6bcefd 11.58%, #32a9df 88.12%);
}
.bg-linear-red {
	background: linear-gradient(157.68deg, #ff7999 17.3%, #ffbdcc 82.95%);
}
.card-text {
	position: relative;
	height: 47px;
	left: 30px;
	top: 30px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #1f2326;
}
.partners {
	margin: 415px auto;
	width: 1051px;
	height: 191px;
}
.partners-text {
	margin: auto;
	width: 810px;
	height: 120px;
	text-align: center;
	color: #1f2326;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.blue {
	color: #1663f9;
	margin: 0;
}
.partner-logos {
	width: 1051px;
	height: 31px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.portfolio-container {
	display: flex;
	margin: -47px auto;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 100px;
	width: 1170px;
	height: 2800px;
}
.portfolio-header {
	position: absolute;
	width: 434px;
	height: 60px;
	line-height: 60px;
	color: #000000;
}
.portfolio-group {
	margin: 160px auto;
	width: 1170px;
	height: 2640px;
}
.portfolio-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	padding: 0px;
	gap: 104px;
	width: 1170px;
	height: 585px;
}
.portfolio-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	padding: 0px;
	gap: 71px;
	width: 1170px;
	height: 585px;
	text-align: right;
}
.float-right {
	float: right;
}
.portfolio-app {
	width: auto;
	height: auto;
	color: #81879d;
}
.portfolio-name {
	margin-top: 16px;
	width: auto;
	height: auto;
	color: #1f2326;
}
.portfolio-description {
	margin-top: 30px;
	width: auto;
	height: auto;
	color: #171717;
}
.portfolio-view {
	margin-top: 40px;
	width: 285px;
	height: 24px;
	/* font-family: "Gramatika-Medium"; */
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 8px;
	margin-right: -8px;

	color: #171717;
}
.portfolio-rectangle-left {
	margin-top: 14px;
	width: 146px;
	height: 2px;
	background: linear-gradient(
		90.05deg,
		#b112f4 -9.94%,
		rgba(177, 18, 244, 0) 123.03%
	);
}
.portfolio-rectangle-right {
	margin-top: 14px;
	width: 146px;
	height: 2px;
	background: linear-gradient(
		90.05deg,
		#b112f4 -9.94%,
		rgba(177, 18, 244, 0) 123.03%
	);
	transform: rotate(180deg);
}
.portfolio-thumb {
	float: right;
}
