body {
	width: 100%;
	overflow-x: hidden;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	width: 1240px;
	height: 60px;
	margin: 30px auto;
	justify-content: space-between;
}
.logo {
	flex: none;
	order: 0;
	flex-grow: 0;
}
.nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 665px;
	height: 24px;
}
.nav .nav-item {
	display: flex;
	padding: 0px;
	gap: 6px;
}
.header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 214px;
	height: 60px;
	background: #1663f9;
	border-radius: 30px;
	font-family: "Poppins";
	color: #ffffff;
}
.main-text {
	margin: 44px auto;
	width: 780px;
	height: 228px;
	text-align: center;
	color: #1f2326;
}
.main-subtext {
	margin: 30px auto;
	width: 715px;
	height: 52px;
	text-align: center;
	color: #1f2326;
}
.btn-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 45px auto;
	padding: 0px;
	gap: 24px;
	width: 405px;
	height: 60px;
}
.btn-container .start-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 226px;
	height: 60px;
	gap: 10px;
	color: #ffffff;
	background: #1663f9;
	border-radius: 30px;
	order: 0;
}
.btn-container .pricing-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 155px;
	height: 60px;
	border: 1px solid #1f2326;
	border-radius: 60px;
	order: 1;
}
.bg-color-1 {
	position: absolute;
	width: 1362.54px;
	height: 766.44px;
	left: -753px;
	top: 281px;
	background: #51b4fa;
	filter: blur(148.009px);
	border-radius: 532.247px;
	z-index: -3;
}
.bg-color-2 {
	position: absolute;
	width: 751.02px;
	height: 422.45px;
	right: 659.98px;
	top: 529px;
	background: #854aeb;
	filter: blur(148.009px);
	border-radius: 293.368px;
	z-index: -2;
}
.bg-color-3 {
	position: absolute;
	width: 625.19px;
	height: 351.66px;
	left: 592px;
	top: 564px;
	background: #f8d997;
	filter: blur(148.009px);
	border-radius: 244.214px;
	z-index: -1;
}
.bg-color-4 {
	position: absolute;
	width: 671px;
	height: 377.44px;
	right: -113px;
	top: 375px;
	background: #f8a6f0;
	filter: blur(148.009px);
	border-radius: 262.109px;
	z-index: -4;
}
.summary {
	display: flex;
	justify-content: center;
	width: 1170px;
	height: 773px;
	margin: 100px auto;
	background: #ffffff;
	border-radius: 30px;
}

.services {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	margin: 70px auto;
	gap: 30px;
	width: 1074px;
	height: 225px;
}
.card {
	width: 246px;
	height: 225px;
	border: 1px #f2f3f8 solid;
	border-radius: 12px;
}
.card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 88px;
	height: 88px;
	margin-left: 30px;
	margin-top: 30px;
	border-radius: 60px;
}
.bg-linear-pink {
	background: linear-gradient(157.75deg, #d555c7 14.46%, #f396ea 79.18%);
}
.bg-linear-orange {
	background: linear-gradient(160.02deg, #f49235 11.67%, #ffb46d 82.2%);
}
.bg-linear-blue {
	background: linear-gradient(339.28deg, #6bcefd 11.58%, #32a9df 88.12%);
}
.bg-linear-red {
	background: linear-gradient(157.68deg, #ff7999 17.3%, #ffbdcc 82.95%);
}
.card-text {
	position: relative;
	height: 47px;
	left: 30px;
	top: 30px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #1f2326;
}
.partners {
	margin: 415px auto;
	width: 1051px;
	height: 191px;
}
.partners-text {
	margin: auto;
	width: 810px;
	height: 120px;
	text-align: center;
	color: #1f2326;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.partner-logos {
	width: 1051px;
	height: 31px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.portfolio-container {
	display: flex;
	margin: -47px auto;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 100px;
	width: 1170px;
	height: 2800px;
}
.portfolio-header {
	position: absolute;
	width: 434px;
	height: 60px;
	line-height: 60px;
	color: #000000;
}
.portfolio-group {
	margin: 160px auto;
	width: 1170px;
	height: 2640px;
}
.portfolio-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	padding: 0px;
	gap: 104px;
	width: 1170px;
	height: 585px;
}
.portfolio-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	padding: 0px;
	gap: 71px;
	width: 1170px;
	height: 585px;
	text-align: right;
}
.float-right {
	float: right;
}
.portfolio-app {
	width: auto;
	height: auto;
	color: #81879d;
}
.portfolio-name {
	margin-top: 16px;
	width: auto;
	height: auto;
	color: #1f2326;
}
.portfolio-description {
	margin-top: 30px;
	width: auto;
	height: auto;
	color: #171717;
}
.portfolio-view {
	margin-top: 40px;
	width: 285px;
	height: 24px;
	/* font-family: "Gramatika-Medium"; */
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 8px;
	margin-right: -8px;

	color: #171717;
}
.portfolio-rectangle-left {
	margin-top: 14px;
	width: 146px;
	height: 2px;
	background: linear-gradient(
		90.05deg,
		#b112f4 -9.94%,
		rgba(177, 18, 244, 0) 123.03%
	);
}
.portfolio-rectangle-right {
	margin-top: 14px;
	width: 146px;
	height: 2px;
	background: linear-gradient(
		90.05deg,
		#b112f4 -9.94%,
		rgba(177, 18, 244, 0) 123.03%
	);
	transform: rotate(180deg);
}
.portfolio-thumb {
	float: right;
}
.expertise-container {
	margin: 170px auto;
	width: 1170px;
	height: 930px;
	background: #f1f5f9;
	border-radius: 30px;
}
.expertise-heading {
	width: 678px;
	height: 60px;
	margin: auto;
	padding-top: 70px;
	color: #000000;
}
.expertise-intro {
	margin: 30px auto 8px;
	width: 709px;
	height: 78px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #1f2326;
}
.expertise-grid-container {
	display: grid;
	row-gap: 24px;
	column-gap: 30px;
	grid-template-columns: auto auto;
	padding: 40px;
}
.expertise-grid {
	flex-direction: column;
	width: 530px;
	height: 286px;
	background: #ffffff;
	border-radius: 10px;
	align-items: center;
	text-align: left;
}
.line {
	display: flex;
	margin: 20px auto 0;
	width: 470px;
	height: 1px;
	background: #f0f0f0;
}
.expertise-title {
	margin: 24px 0 0 30px;
	color: #000000;
}
.expertise-description {
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	color: #000000;
	margin: 0 0 16px 0;
}
.expertise-description img {
	padding-right: 12px;
}
.expertise-list {
	list-style-type: none;
	padding: 24px 30px;
	margin: 0;
}
.plan-container {
	width: 100%;
	height: auto;
	padding-bottom: 70px;
	background: #f2f3f8;
}
.plan-heading {
	padding-top: 70px;
	margin: auto;
	width: 679px;
	height: 120px;
	align-items: center;
	text-align: center;
	color: #1f2326;
}
.plan-options {
	width: 232px;
	height: 40px;
	margin: auto;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 70px auto 40px;
	gap: 12px;
}
.option-btn-monthly {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 40px;
	background: #1663f9;
	border-radius: 52px;
	color: #ffffff;
}
.option-btn-yearly {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 40px;
	background: #f8f8f8;
	border-radius: 52px;
	color: #81879d;
}
.subscription-options {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: auto;
	width: 1170px;
	height: 464px;
	gap: 30px;
}
.subscription {
	width: 730px;
	height: 464px;
}
.subscription-small {
	width: 410px;
	height: 464px;
}
.subscription-summary {
	width: auto;
	height: 170px;
	background: #ffffff;
	border-radius: 30px 30px 0 0;
}
.subscription-summary-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.subscription-level {
	margin: 25px 0 0 42px;
	color: #1f2326;
}
.subscription-tags {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 20px auto;
	width: 141px;
	height: 40px;
	background-color: rgba(22, 99, 249, 0.1);
	border-radius: 30px;
	color: #1663f9;
}
.subscription-price {
	margin: 12px 0 0 42px;
}
.subscription-price span {
	color: #81879d;
}
.subscription-perks {
	width: auto;
	height: 294px;
	background: #eaedf9;
	border-radius: 0 0 30px 30px;
}
.subscription-perk-grid {
	display: grid;
	row-gap: 20px;
	column-gap: 30px;
	grid-template-columns: auto auto;
	padding: 42px;
}
.subscription-perk-small-grid {
	display: grid;
	row-gap: 20px;
	column-gap: 30px;
	grid-template-columns: auto;
	padding: 42px;
}
.perk-detail {
	color: #81879d;
}
.perk-detail img {
	padding-right: 12px;
	padding-top: 3px;
	margin: auto;
}
.subscription-buy-btn {
	margin-left: 42px;
	width: 140px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background: linear-gradient(
		90deg,
		#5f45d9 -11.43%,
		#f961d8 47.91%,
		#fe9e66 92.14%
	);
	border-radius: 30px;
}

/* gradient color border: https://stackoverflow.com/questions/51496204/border-gradient-with-border-radius */
.subscription-buy-btn-small {
	margin-left: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 140px;
	height: 44px;
	color: #313149;
	position: relative;
	z-index: 0;
}
.subscription-buy-btn-small::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	padding: 1px;
	border-radius: 30px;
	background: linear-gradient(
		90deg,
		#5f45d9 -11.43%,
		#f961d8 47.91%,
		#fe9e66 92.14%
	);
	mask: linear-gradient(#000 0 0) exclude,
		linear-gradient(#000 0 0) content-box;
}
.feedback-container {
	margin: 95px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0px;
	gap: 40px;
	width: 1170px;
	height: 383px;
}
.feedback-group {
	width: 1170px;
	height: 331px;
	background: linear-gradient(90.47deg, #3f56ee 10.5%, #5094fa 102.82%);
	border-radius: 20px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.feedback-group .vector {
	margin: 44px 0 0 60px;
}
.feedback-content {
	width: 656px;
	height: 202px;
	color: #ffffff;
	opacity: 0.7;
	margin: 65px 52px 64px 40px;
}

.feedback-scrollbar {
	width: 120px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.slash {
	width: 1px;
	height: 237px;
	margin-top: 47px;
	background: #d9d9d9;
}
.feedback-user {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 80px 0 0 52px;
}
.user-avatar {
	width: 85px;
	height: 85px;
	flex: none;
	order: 0;
	flex-grow: 0;
	background: #b7ceff;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 50%;
}
.user-name {
	color: #ffffff;
	margin-top: 24px;
}
.user-job {
	color: #ffffff;
	margin-top: 10px;
}
.team-container {
	margin: 120px auto;
	width: 1075px;
	height: auto;
	left: 183px;
	top: 6802px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.team-heading {
	margin: auto;
}
.team-intro {
	margin: 30px auto;
	width: 481px;
	height: 45px;
	text-align: center;
}
.team-group-container {
	margin: 70px auto;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	grid-gap: 50px 30px;
}
.team-card {
	position: relative;
}
.team-card .user {
	position: absolute;
}
.team-card:hover {
	z-index: 0;
	color: #1663f9;
	/* opacity: 0.8; */
	border-radius: 158px;
}
.team-card-info {
	display: none;
}
.team-card:hover .team-card-info {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 143px;
}
.team-card-job {
	margin-top: 2px;
	margin-bottom: 20px;
}
.blog-container {
	margin: auto auto 112px auto;
	width: 1140px;
	height: 506px;
}
.blog-header {
	width: 468px;
	height: 60px;
	margin: auto;
}
.blog-card-container {
	margin-top: 63px;
	display: flex;
	flex-direction: row;
	gap: 30px;
}
.blog-info-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	margin-top: 30px;
}
.blog-type {
	width: 100px;
	height: 30px;
	background: #ffdb8f;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
.blog-title {
	margin-top: 16px;
}
.application-container {
	margin: auto auto 120px auto;
	width: 1170px;
	height: 483px;
	background: linear-gradient(243.41deg, #9a40e4 7.82%, #5c70f4 74.31%);
	border-radius: 20px;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.application-title {
	width: 858px;
	height: 126px;
	display: flex;
	align-items: center;
	text-align: center;
}
.application-subtitle {
	margin-top: 30px;
	width: 692px;
	height: 91px;
	display: flex;
	align-items: center;
	text-align: center;
}
.apply-btn {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	padding: 16px;
	gap: 10px;
	width: 205px;
	height: 60px;
	border: none;
	background: #ffffff;
	border-radius: 10px;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.footer-container {
	margin-top: 20px;
	width: auto;
	height: 388px;
}
.footer-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 20px auto;
	justify-content: space-between;
	width: 963px;
	height: 229px;
}
.col-title {
	margin-bottom: 25px;
}
.footer-col ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-col li {
	color: #81879d;
	margin: 12px 0;
}
.col-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;
	width: 205px;
	height: 211px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: Inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0%;
}
.icon-text {
	font-family: Inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0%;
	color: #5f6871;
}
.socials {
	width: 200px;
	height: 38px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.socials-icon {
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	border: 2px solid #f0f0f0;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-line {
	margin-top: 70px;
	width: auto;
	height: 1px;
	background: #f0f0f0;
}
.footer-foot {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 163px;
}
.footer-foot-menu {
	display: flex;
	flex-direction: row;
	width: 246px;
	height: 18px;
	gap: 40px;
}
.footer-foot-menu div {
	font-family: Poppins;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0%;
	color: #81879d;
}
.rights {
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.94px;
	letter-spacing: -1%;
	text-align: center;
	color: #81879d;
}
.sub-form {
	box-sizing: border-box;
	width: 223px;
	height: 45px;
	border: 1px solid #f0f0f0;
	border-radius: 8px;
	color: #81879d;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.sub-input {
	border: none;
	margin-left: 18px;
}
.sub-btn {
	box-sizing: border-box;
	width: 46px;
	height: 45px;
	background: #7751f7;
	border: 1px solid #f0f0f0;
	border-radius: 0 8px 8px 0;
}
.rating-points {
	margin-top: 28px;
	font-family: Inter;
	font-weight: 500;
	font-size: 14px;
	line-height: 16.94px;
}
.rating-text {
	margin-top: 3px;
	font-family: Inter;
	font-weight: 500;
	font-size: 14px;
	line-height: 16.94px;
}
.rating-stars {
	margin-top: 9px;
}
